<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=1024" />
        <title>Open States - State Legislation</title>
        <meta name="author" content="Paul Tagliamonte" />
        <link href="/static/default.css" rel="stylesheet" />
        <link rel="shortcut icon" href="favicon.png" />
    </head>

    <body class="impress-not-supported">
        <div class="fallback-message">
            Sorry, this presentation needs a modern browser.
        </div>
        <div id="impress">
<!--



 -->
<div class="step" data-x="0" data-y="0">
    <center>
        <h1><a href = 'http://openstates.org/' >Open States</a></h1>
        <h3>Opening access to U.S. State level legislative data</h3>
    </center>
</div>
<!--



 -->
<div class="step" data-x="1500" data-y="0" >
    <p>
        So, who are we?
    </p>
</div>
<!--



 -->
<div class="step" data-x="3000" data-y="0" >
    <p>
    James Turk (project lead), Thom Neale and Paul Tagliamonte<br />
    <br />
    we work for the <img src = 'imgs/sunlight.png' alt = '' />, and work on
    Open States.
    </p>
</div>
<!--



 -->
<div class="step" data-rotate="180" data-x="3000" data-y="1500" >
    <p>
    For those who don't know,
    <a href = 'http://sunlightfoundation.com/' >The Sunlight Foundation</a> is
    a nonprofit focused on government transparency and accountability.
    </p>
</div>
<!--



 -->
<div class="step" data-rotate="180" data-x="1500" data-y="1500" >
    <p>
    Sunlight brings high technology to help solve problems in
    presenting, distributing and reporting on Government data.
    </p>
</div>
<!--



<div class="step" data-rotate="180" data-x="0" data-y="1500" >
    <p>
    So, why OpenStates?
    </p>
</div>


<div class="step" data-rotate="180" data-x="0" data-y="3000" >
    <p>
    OK, so a bit more background for you.
    </p>
</div>



<div class="step" data-scale="0.3" data-rotate="0" data-x="-300" data-y="2900" >
    <p>
    On the federal level, there's something called "<a
        href = 'http://govtrack.us/'
    >GovTrack</a>".
    </p>
</div>



<div class="step" data-scale="0.3" data-rotate="0" data-x="0" data-y="2900" >
    <p>
    <a href = 'http://govtrack.us/' >GovTrack</a>
    takes federal data, and provides it for public use in a
    developer and researcher friendly way
    </p>
</div>



<div class="step" data-scale="0.3" data-rotate="0" data-x="300" data-y="2900" >
    <p>
    Sunlight has built many tools that use
    <a href = 'http://govtrack.us/' >GovTrack</a>
    as one of it's
    data sources.
    </p>
</div>



<div class="step" data-scale="0.3" data-rotate="180" data-x="300" data-y="3100" >
    <p>
    Without something like a
    "<a href = 'http://govtrack.us/' >GovTrack</a>"
    to store and serve data, writing
    tools to promote open government in the U.S. would be much harder.
    </p>
</div>





<div class="step" data-scale="0.3" data-rotate="180" data-x="0" data-y="3100" >
    <p>
    Everyone would have to scrape their own sites, or consume a bunch of
    dissimilar APIs
    </p>
</div>





<div class="step" data-scale="0.3" data-rotate="180" data-x="-300" data-y="3100" >
    <p>
    However,
    <a href = 'http://govtrack.us/' >GovTrack</a>
    only deals with the federal level.
    </p>
</div>





-->
<div class="step" data-scale="2" data-rotate="270" data-x="-1500" data-y="750" >
    <p>
    OpenStates helps bring some of the great work that's done on the
    federal level (stuff like
    <a href = 'http://govtrack.us/' >GovTrack</a>) to the state level.
    </p>
</div>
<!--



 -->
<div class="step" data-scale="0.5" data-rotate="0" data-x="-2500" data-y="0" >
    <p>
    Free and well documented APIs for programmers
    </p>
</div>
<!--



 -->
<div class="step" data-scale="0.5" data-rotate="180" data-x="-2500" data-y="750" >
    <p>
    Bulk data downloads for data analysts
    </p>
</div>
<!--



 -->
<div class="step" data-scale="0.5" data-rotate="90" data-x="-2500" data-y="1500" >
    <p>
    An easy-to-use <a href = 'http://openstates.org' >website</a>
    to view a State's legislation
    </p>
</div>
<!--



 -->
<div class="step" data-scale="0.5" data-rotate="270" data-x="-2000" data-y="750" >
    <p>
    And most (technically) interesting:<br />
    a normalized dataset.
    </p>
</div>
<!--



 -->
<div class="step" data-scale="1" data-x="0" data-y="-1500" >
    <p>
    So, how does it all work?
    </p>
</div>
<!--



 -->
<div class="step" data-scale="1" data-x="1500" data-y="-1500" >
    <p>
    There are actually a few projects that make OpenStates "tick"
    </p>
</div>
<!--



 -->
<div class="step" data-scale="0.3" data-x="1500" data-y="-1000" >
    <p>
    There's the OpenStates scrapers which fetch websites and store
    important data.
    </p>
</div>
<!--



 -->
<div class="step" data-rotate="180" data-scale="0.3" data-x="1500" data-y="-800" >
    <p>
    Fun fact: As of the time of this writing, there are 176 scrapers.

    <br /><br />We have (just from a rough count)

    28 events scrapers,
    52 legislator scrapers,
    52 bill scrapers
    38 committee scrapers
    6 vote scrapers


    </p>
</div>
<!--



 -->
<div class="step" data-scale="0.3" data-x="1800" data-y="-1000" >
    <p>
    Then, there's Billy, which stores and serves Legislative data.
    </p>
</div>
<!--



 -->
<div class="step" data-rotate="180" data-scale="0.3" data-x="1800" data-y="-800" >
    <p>
    Billy stores Bills, Legislators, Committees, Events, and Votes.<br />
    </p>
</div>
<!--



 -->
<div class="step" data-scale="0.3" data-x="2100" data-y="-1000" >
    <p>
    Objects tracked in billy:
    <ul>
    <li>354,239 bill objects, which contain 3,347,724 actions, 617,683 versions of
    the legislation (drafts, final copies) and 259,725 attached documents.</li>
    <li>8,323 legislators (7,465 active and 858 inactive),</li>
    <li>66,397 events,</li>
    <li>256,468 vote objects,</li>
    </ul>
    </p>
</div>
<!--


 -->
<div class="step" data-scale="1" data-x="4500" data-y="-1500" >
    <p>
    We've had over 45 people help contribute to this effort at
    hackathons, sprints and hack days.
    </p>
</div>
<!--



 -->
<div class="step" data-scale="1" data-x="6000" data-y="-1500" >
    <p>
    <img src = 'imgs/openstates-faces.png' alt = '' />
    </p>
</div>
<!--



 -->
<div class="step" data-scale="1" data-x="4500" data-y="0" >
    <p>
    So, how (exactly) do we capture this data?
    </p>
</div>
<!--



 -->
<div class="step" data-scale="1" data-x="4500" data-y="1500" >
    <p>
    Our methodology is very important to us. We always maintain the
    integrity of the data, and provide sources.
    </p>
</div>
<!--



 -->
<div class="step" data-rotate="90" data-scale="0.3" data-x="6000" data-y="1500" >
    <p>
    Every night, we (very politely) scrape websites, consume APIs or download
    a state's bulk data, and store it onto our servers.
    </p>
</div>
<!--



 -->
<div class="step" data-rotate="90" data-scale="0.3" data-x="6000" data-y="1800" >
    <p>
    A second "stage" then takes that data and does some very
    careful matching work.
    </p>
</div>
<!--



 -->
<div class="step" data-rotate="90" data-scale="0.3" data-x="6000" data-y="2100" >
    <p>
    We only augment the data, we never change it.
    </p>
</div>
<!--



 -->
<div class="step" data-rotate="90" data-scale="0.3" data-x="6000" data-y="2400" >
    <p>
    At this stage, we do things like match names of legislators, match
    committees, and translate subjects into a normal set
    </p>
</div>
<!--



 -->
<div class="step" data-rotate="180" data-x="1500" data-y="3000" >
    <p>
        So, what's this data look like?
    </p>
</div>
<!--



 -->
<div class="step" data-rotate="180" data-x="3000" data-y="3000" >
    <p>
    Idaho's Legislature<br />
    <img src = 'imgs/openstates-falcon-id-all.png' alt = '' />
    </p>
</div>
<!--



 -->
<div class="step" data-rotate="180" data-x="4500" data-y="3000" >
    <p>
    Maryland's Legislature (all actions)<br />
    <img class = 'falcon' src = 'imgs/openstates-falcon-md-all.png' alt = '' />
    </p>
</div>
<!--



 -->
<div class="step" data-rotate="180" data-x="6000" data-y="3000" >
    <p>
    Introduced Legislation in Maryland<br />
    <img class = 'falcon' src = 'imgs/openstates-falcon-md-introduced.png' alt = '' />
    </p>
</div>
<!--



 -->
<div class="step" data-rotate="0" data-x="6000" data-y="4500" >
    <p>
    Passed Legislation in Maryland<br />
    <img class = 'falcon' src = 'imgs/openstates-falcon-md-passed.png' alt = '' />
    </p>
</div>
<!--



 -->
<div class="step" data-rotate="0" data-x="4500" data-y="4500" >
    <p>
    Introduced Legislation in California<br />
    <img class = 'falcon' src = 'imgs/openstates-falcon-ca-introduced.png' alt = '' />
    </p>
</div>
<!--



 -->
<div class="step" data-rotate="0" data-x="3000" data-y="4500" >
    <p>
    Questions?
    </p>
</div>
<!--



 -->
<div class="step" data-scale="10" data-x="0" data-y="0" >
</div>
        </div>
        <script src="/static/impress.js"></script>
        <script>impress().init();</script>
    </body>
</html>
